*.pt
*.avi
*.mp4
*.txt
*.jpg
*.png
*.gif
scripts/__pycache__
resized_frames
split_frames
tempCodeRunnerFile.py
*.zip
*.cache
vosk-model-ar-mgb2-0.4
vosk-model-en-us-0.42-gigaspeech
vosk-model-en-us-0.22-lgraph
__pycache__
movement/__pycache__